.fa-clock {
    color: #fff;
}

* {
    /*расстояние внутри блока*/
    padding: 0;
    /*расстояние между блоками*/
    margin: 0;
    /*рамка*/
    border: 0;
}
html,
body {
    background-color: #898080;
    font-family: Century Gothic MS;
    /*для одинакового отображения текста на всех устройствах*/
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    min-height: 100%;
}

ul {
    margin: 0;
    padding: 0;
}

/* Уберем подчеркивание у ссылок */
a {
    text-decoration: none;
    color: #000;
    font-size: 20pt;
    font-family: Trebuchet MS;
}

/* Уберем точки у списка*/
li {
    list-style-type: none;
}

/* Позиция блоков на странице */
.position {
    min-width: 1100px;
}

/* Стиль для шапки */
.header {
    background-color: #826f6f;
    height: 110px;
    max-width: 100%;
    display: flex;
    align-items: center;
}

/* Стиль для внутренности шапки */
.menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 120px;
}

/* Стили для иконки */
.material-icons.md-18 {
    font-size: 25pt;
}

/* Стиль для самих ссылок */
.menu_link {
    position: relative;
}

.menu_link:hover {
    color: #f0eeee;
}

.menu_link:hover:before {
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.5s;
}

.menu_link:before {
    content: "";
    width: 100%;
    height: 0.1px;
    background-color: #f0eeee;
    position: absolute;
    left: 0;
    bottom: -5px;
    transform-origin: right;
    transition: transform 0.5s;
    transform: scaleX(0);
}

/* Стиль для всей страницы после шапки */
.container {
    text-align: left;
    font-family: Century Gothic;
}

/* Стиль для блока внутри контейнера */
.block {
    height: 100%;
    margin: 20px 150px;
    padding: 15px 150px 0 0;
    font-size: 35pt;
}

/* Стиль для отделения линиями внутри блока */
.line {
    border: 0.001px solid #fff;
    width: calc(100% + 15px);
    height: 0.01px;
    margin: 50px 0px 0px -15px;
}

/* Стиль для списка */
.list {
    text-align: left;
    list-style-type: decimal;
    margin: 40px 0px;
    line-height: 30pt;
    font-size: 20pt;
    font-family: FreeMono;
}

/* Стиль для дополнительных данных в списке */
.paragraph {
    font-size: 16pt;
    font-family: FreeMono;
    color: #695656;
}

@media (max-width: 1000px) {
    /* Позиция блоков на странице */
    .block {
        margin: 90px 120px;
    }

    /* Стиль для дополнительных данных в списке */
    .paragraph {
        font-size: 20pt;
    }

    /* Стиль для списка */
    a,
    .list {
        font-size: 25pt;
    }
}

@media (max-width: 800px) {
    /* Стиль для списка */
    .list {
        line-height: 45pt;
    }
    /* Стиль для дополнительных данных в списке */
    .paragraph {
        font-size: 25pt;
    }
    /* Стили для иконки */
    .material-icons.md-18 {
        font-size: 30pt;
    }
    /* Стиль для списка */
    a,
    .list {
        font-size: 30pt;
    }
}

@media (max-width: 650px) {
    /* Стиль для шапки */
    .header {
        height: 150px;
    }
    /* Позиция блоков на странице */
    .block {
        font-size: 38pt;
    }
    /* Стили для иконки */
    .material-icons.md-18 {
        font-size: 35pt;
    }
    /* Стиль для дополнительных данных в списке */
    .paragraph {
        font-size: 28pt;
    }

    /* Стили для иконки */
    .material-icons.md-18 {
        font-size: 40pt;
    }
    /* Стиль для списка */
    a,
    .list {
        font-size: 33pt;
    }
}

@media (max-width: 480px) {
    /* Стиль для шапки */
    .header {
        height: 200px;
    }
    /* Стиль для списка */
    .list {
        line-height: 50pt;
        font-size: 23pt;
    }
    /* Позиция блоков на странице */
    .block {
        font-size: 45pt;
    }

    /* Стиль для дополнительных данных в списке */
    .paragraph {
        font-size: 35pt;
    }

    /* Стили для иконки */
    .material-icons.md-18 {
        font-size: 50pt;
    }

    /* Стиль для списка */
    a,
    .list {
        font-size: 40pt;
    }
}
